{% extends 'base.html' %}

{% block body %}
    <h2>Top Selling Melons</h2>

    <div id="melon-list" class="row">
      {% for melon in melon_list %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 melon-summary">

              <div class="well">
                  <h3><a href="/melon/{{ display_melon.id }}">{{ display_melon.common_name }}</a></h3>
                  <a href="/melon/{{ display_melon.id }}">
                      <img src="{{ display_melon.image_url }}" class="img-circle">
                  </a>

                  <div class="price">{{ display_melon.price_str() }}</div>
                  <a class="btn btn-primary" href="/melon/{{ display_melon.id }}">Details</a>
              </div>

          </div>
      {% endfor %}
    </div>

{% endblock %}
